/*I'm writing with pure css because this project no need a view engine, is just a test.*/
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/*switch: https://proto.io/freebies/onoff/*/
.onoffswitch {
	position: relative; width: 90px;
	-webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block; 
	overflow: hidden; 
	cursor: pointer;
	border: 2px solid #999999; 
	border-radius: 20px;
}

.onoffswitch-inner {
	display: block; width: 200%; 
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; 
	float: left; 
	width: 50%; 
	height: 30px; 
	padding: 0; 
	line-height: 30px;
	font-size: 14px; 
	olor: white; 
	font-family: Trebuchet, Arial, sans-serif; 
	font-weight: bold;
	box-sizing: border-box;
}

.onoffswitch-inner:before {
	content: "ON";
	padding-left: 10px;
	background-color: #34A7C1; 
	color: #FFFFFF;
}

.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 10px;
	background-color: #EEEEEE; 
	color: #999999;
	text-align: right;
}

.onoffswitch-switch {
	display: block; 
	width: 18px; 
	margin: 6px;
	background: #FFFFFF;
	position: absolute; 
	top: 0; 
	bottom: 0;
	right: 56px;
	border: 2px solid #999999; 
	border-radius: 20px;
	transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px; 
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
