html
	head
		title
			| title
	body
		h1
			| message
		script(type='text/javascript', src='/public/javascript/libs/socket.io/main.min.js')
		script(type='text/javascript', src='/public/javascript/scripts/app/main.js')
