html
	head
		link(rel="stylesheet", href="/public/stylesheet/application.css")
		title
			| Arduino :D
	body
		div.center
			div.onoffswitch
				input(type="checkbox", name="onoffswitch", class="onoffswitch-checkbox", id="interruptor", hecked)
				label(class="onoffswitch-label", for="interruptor")
					span(class="onoffswitch-inner")
					span(class="onoffswitch-switch")

		script(type='text/javascript', src='/public/javascript/libs/socket.io/main.min.js')
		script(type='text/javascript', src='/public/javascript/scripts/app/main.js')